button {
  float: left;
  width: 80px;
  text-align: center;
  padding: 0;
  margin: 10px;
  height: 80px;
  border: 0;
  background: #2ecc71;
  color: white;
  overflow: hidden;
}
button.green {
  background: #2ecc71;
}
button.orange {
  background: #f39c12;
}
button:hover {
  cursor: pointer;
}
button:hover > div {
  margin-top: -100px;
}
button:hover > div > i {
  opacity: .5;
}
button i {
  -webkit-transition: All 0.25s ease;
  transition: All 0.25s ease;
  margin: 0;
  padding: 0;
  width: 95px;
  height: 100px;
  font-size: 80px;
  line-height: 100px !important;
  display: block;
}
button div {
  -webkit-transition: All 0.25s ease;
  transition: All 0.25s ease;
}
button span {
  display: table-cell;
  width: 95px;
  max-width: 95px;
  height: 100px;
  vertical-align: middle;
  font-size: 25px;
  line-height: 27px;
}
